1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

In [1]:
test1 = ('This is a test of the emergency text system')
len(test1)

43

In [2]:
with open('test.txt', 'wt') as outfile:
    outfile.write(test1)

In [3]:
outfile.close()

2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [4]:
with open('test.txt', 'rt') as infile:
    test2= infile.read()
len(test2)

43

In [5]:
test1==test2

True

3. Create a CSV file called books.csv by using these lines:

title,author,year

The Weirdstone of Brisingamen,Alan Garner,1960

Perdido Street Station,China Miéville,2000

Thud!,Terry Pratchett,2005

The Spellman Files,Lisa Lutz,2007

Small Gods,Terry Pratchett,1992

In [6]:
text = ''' title, author, year
The Weirdstone of Brisingamen,Alan Garner,1960

Perdido Street Station,China Miéville,2000

Thud!,Terry Pratchett,2005

The Spellman Files,Lisa Lutz,2007

Small Gods,Terry Pratchett,1992'''

with open('book.csv', 'wt') as outfile:
    outfile.write(text)

4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [16]:
import sqlite3
conn = sqlite3.connect('books.db')
c = conn.cursor()

c.execute('create table books(title varchar(20),author varchar(20), year int)')
conn.commit()

In [17]:
db.commit()

5. Read books.csv and insert its data into the book table.

In [ ]:
import sqlite3
conn = sqlite3.connect('books.db')
c = conn.cursor()

c.execute('create table books(title varchar(20),author varchar(20), year int)')
conn.commit()

6. Select and print the title column from the book table in alphabetical order.

In [20]:
c.execute('select title from books order by title asc')
print(c.fetchall())

[]

7. From the book table, select and print all columns in the order of publication

In [21]:
c.execute('select title, author,year from books order by year')


df = pd.DataFrame(c.fetchall(), columns=['title','author','year'])
df

Empty DataFrame
Columns: [title, author, year]
Index: []

8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [22]:
import sqlalchemy
engine = sqlalchemy.create_engine("sqlite:///books.db")
rows = engine.execute('select * from books')
for i in rows:
    print(i)

9.  Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

In [23]:
!pip install redis

Collecting redis
  Downloading redis-4.5.5-py3-none-any.whl (240 kB)
     ------------------------------------ 240.3/240.3 kB 865.0 kB/s eta 0:00:00
Collecting async-timeout>=4.0.2
  Downloading async_timeout-4.0.2-py3-none-any.whl (5.8 kB)
Installing collected packages: async-timeout, redis
Successfully installed async-timeout-4.0.2 redis-4.5.5

In [ ]:
import redis
conn = redis.Redis()
conn.delete('test')
conn.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})
conn.hgetall('test')

10. Increment the count field of test and print it.

In [ ]:
conn.hincrby('test','count', 3)